<div class="all">

<h1 class="coteretHome">Books in category: {{ category }}</h1>
<mat-grid-list cols="15" >
  <mat-grid-tile *ngFor="let book of books; let i = index" [colspan]="3" [rowspan]="3">
    <mat-card class="example-card">
      <mat-card-header class="bookName center">
        <mat-card-title>{{book.bookName}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="book.img" alt="Photo of a Shiba Inu" width="210" height="140">
      <mat-card-content class="center">
        <p>{{book.idPublisher.publishersName}} - {{book.category}}</p>
      </mat-card-content>
      <mat-card-content class="center">
        <p>Amount available: {{book.amountInLibrary}}</p>
      </mat-card-content>
     <button mat-button (click)="openDialog(book)">For More Details</button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>