.addNewPublisherBtn{
    background-color: brown;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 50px;
}
.divTable{
    width: 1200px;

    margin: 0 auto;
    margin-top: 50px;
}

.all{
    height: 100%;
    background: url(https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=600);
}
.newPageBtn{
    height: 50px;
    margin-left: 350px;
    margin-top: 30px;
    width: 300px;
    background: brown;
    color: black;
  }
  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 33%;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  th{
    color: brown;
    text-decoration: underline;
  }
  .select{
    width: 200px;

    
  }
  .reportBtn{
    height: 50px;
    margin-left: 10px;

  }
  .report{
    display: flex;
margin-left: 350px;
margin-top: 30px;
  }