<mat-toolbar style="background-color: brown; margin-bottom: 0;" fxLayout="row" fxLayoutAlign="start center">
  <a mat-button routerLink="/home" style="text-decoration: none; color: black;">
    <span style="font-size: 1.5em; display: flex; align-items: center;">
        Hello Ruchama <mat-icon style="margin-left: 5px;">menu_book</mat-icon>
    </span>
</a>
    <span style="margin-left: 25px;"></span> <!-- Small space between the text and links -->
    <a mat-button routerLink="/readers" style="font-size: 1.2em;">READERS</a>
    <a mat-button routerLink="/publishers" style="font-size: 1.2em;">PUBLISHERS</a>
    <a mat-button routerLink="/returnBook" style="font-size: 1.2em;">TO RETURN BOOK</a>
    <a mat-button routerLink="/borrowing" style="font-size: 1.2em;">BORROWING</a>
    <a mat-button routerLink="/addNewBookComponent" style="font-size: 1.2em;">ADD NEW BOOK</a>
  </mat-toolbar>
  